.DS_Store
node_modules
/dist
/public/web/node_modules
/public/web/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/public/web/npm-debug.log*
/public/web/yarn-debug.log*
/public/web/yarn-error.log*
/public/web/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
