.left-menu-title-wrapper {
    line-height: 45px;
}

.layui-layout-body .left-menu-title-wrapper .left-menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}